/*
ArtXperience CSS Module
ArtworkPostImage
*/
.artwork-post-image {
  background: black;
  align-self: normal;
  height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}