.artwork-feed .options {
  min-height: 28px; max-height: 28px;
  padding-right: 128px;

  background: rgba(204, 204, 204, 1.0);
  border-bottom: 3px solid rgba(255, 255 ,255, 0.75);
  box-shadow: 0 3px 7px rgba(110, 110, 220, 0.225),
              inset 0 -3px 10px rgba(100, 100, 100, 0.2);
}

.artwork-feed .options > *,
.artwork-feed .options > .option { 
  display: inline-block;
  padding: 2px 15px;
  min-width: 128px; max-width: 128px;
  min-height: 28px; max-height: 28px;

  background: rgba(222, 222, 222, 1.0);
  color: black; 

  line-height: 28px;
  vertical-align: middle;
  text-align: center;
  text-transform: capitalize;
  cursor: pointer;
}

.artwork-feed .options > *:hover, .artwork-feed .options > .option:hover,
.artwork-feed .options > *:focus, .artwork-feed .options > .option:focus {
  background: rgba(212, 212, 212, 1.0);
}

.artwork-feed .options > *:active, .artwork-feed .options > .option:active,
.artwork-feed .options > *.selected, .artwork-feed .options > .option.selected {
  background: rgba(248, 248, 248, 1.0);
}

.artwork-feed .options > .dropdown.filter {
  position: absolute;
  top: 0; right: 0;

  text-align: right;
}