/*
ArtXperience CSS Module
Comment
*/
.comment-feed .comment > .comment-content {
  padding: 5px;

  background: rgb(250, 250, 250);
}

.comment-feed .comment > .comment-content:hover {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.025);
}