.sign-up {
  margin: 0 auto;
  height: calc(100vh - 48px);
}

.sign-up-banner {
  background-color: rgb(60, 92, 146);
  padding: 10px;

  text-align: center;
  font-size: 24px;
  font-weight: bold;
}


.ax-sign-up-branding {
  font-size: 64px;
  font-style: italic;
}

.ax-sign-up-branding span {
  color: rgb(0, 177, 255);
}

.sign-up-form {
  /* display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  align-items: flex-start; */
  background-color: rgb(95, 104, 110);
  height: 100%;
  color: white;
  padding: 25px 15%;
}

.sign-up-form > form {
  /* display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  align-items: flex-start; */
  width: 100%;
}

.date-input {
  border: none;
  border-radius: 3px;
  border: 1px solid rgb(191, 207, 214);
}

.gender-input {
  border: none;
  border-radius: 3px;
  border: 1px solid rgb(191, 207, 214);
}

input[type=submit].join-us {
  display: block;

  margin: 10px auto 0;
  padding: 24px;

  border: 1px solid rgb(191, 207, 214);
  border-radius: 3px;
  background: rgb(0, 177, 255);
  color: white;
  
  font-size: 24px;
  font-style: italic;
  font-weight: bold;

  outline: none;
}

input[type=submit].join-us:hover,
input[type=submit].join-us:focus {
  background: rgb(30, 188, 255);
}

input[type=submit].join-us:active {
  background: rgb(0, 162, 231);
  color: white;
}

.form-error-message { 
  width: 100%;

  color: rgb(255, 156, 151);
  text-align: right;
}

@media screen and (max-width: 1152) {

}