/*
ArtXperience CSS Module
ArtworkGrid
*/
.artwork-grid {
  flex-grow: 1;
  display: grid;

  background: rgba(60, 60, 80, 1.0);
  
  grid-template-rows: auto;
  grid-auto-rows: auto;
  grid-auto-flow: dense;
  grid-template-columns: repeat(auto-fill, minmax(128px, 1fr));
  justify-items: center;
}

.artwork-grid.b-1 {
  grid-template-rows: 128px;
  grid-auto-rows: 128px;
  grid-template-columns: repeat(auto-fill, minmax(128px, 1fr));
}

.artwork-grid.b-2 {
  grid-template-rows: 256px;
  grid-auto-rows: 256px;
  grid-template-columns: repeat(auto-fill, minmax(256px, 1fr));
}

.artwork-grid.b-3 {
  grid-template-rows: 512px;
  grid-auto-rows: 512px;
  grid-template-columns: repeat(auto-fill, minmax(512px, 1fr));
}