/*
ArtXperience CSS Module
ArtworkFeed
*/
.artwork-feed {
  transition: width ease-in-out 0s;
  -webkit-transition: width ease-in-out 0s;
  -moz-transition: width ease-in-out 0s;
  -ms-transition: width ease-in-out 0s;
  -o-transition: width ease-in-out 0s;
}