/*
ArtXperience CSS Module
ArtworkPostEntry
*/
.artwork-post-details .artwork-post-entry > .artwork-post-entry-content {
  padding: 5px;

  background: rgb(250, 250, 250);
}

.artwork-post-details .artwork-post-entry > .artwork-post-entry-content:hover {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.025);
}

.artwork-post-details .content-block {
  background: transparent;
}