.journal-feed .journal-entry > .journal-entry-content {
  padding: 5px;

  background: rgb(250, 250, 250);
}

.journal-feed .journal-entry > .journal-entry-content:hover {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.025);
}