/*
ArtXperience CSS Module
NavSection
*/
.navbar-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-content: center;
  align-items: center;

  margin: 0;

  flex-basis: 100%;
  min-width: 100%; max-width: 100%;
  min-height: 50px; max-height: 100%;

  text-align: right;
}

.navbar-section > form {
  line-height: normal;
  padding: 5px 0;
}

.navbar-section.center {
  justify-content: center;

  margin: 0 auto;

  max-height: 50px;

  text-align: center;
}

.navbar-section.left,
.navbar-section.right {
  flex-basis: 50%;
  flex-grow: 1;
  min-width: 50%; max-width: 50%;
  min-height: 100%; max-height: 100%;
}

.navbar-section.left {
  justify-content: flex-start;

  margin-left: 0;
  margin-right: auto;

  text-align: left;
}

.navbar-section.right {
  justify-content: flex-end;

  margin-left: auto;
  margin-right: 0;

  text-align: right;
}