/*
ArtXperience CSS Module
CommentFeed
*/
.comment-feed {
  align-self: normal;
  
  background: rgb(240, 240, 240);
  border-top: 1px solid rgb(230, 230, 230);
  
  transition: width ease-in-out 0s;
  -webkit-transition: width ease-in-out 0s;
  -moz-transition: width ease-in-out 0s;
  -ms-transition: width ease-in-out 0s;
  -o-transition: width ease-in-out 0s;
}

.comment-feed > *,
.comment-feed .comment-entry {
  padding: 10px 15px;
}

.comment-feed .content-block {
  background: transparent;
}

.comment-feed > h2 {
  margin: 0;

  border-bottom: 1px solid rgb(230, 230, 230);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.01375);

  text-align: center;
  font-weight: 400;
}
