
.art-submission-box {
  cursor: pointer;
  height: 200px;

  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  color: whitesmoke;
  text-align: center;
}

.art-submission-text {
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;

  height: 200px;

  font-size: 1.7vw;
  font-weight: normal;
}

.art-submission-text > p {
  width: 100%;
}

.art-submission-text .subscript {
  display: block;
  width: 100%;

  font-size: 0.7vw;
  font-style: italic;
}

.art-submission-box.chosen .art-submission-text > p {
  visibility: hidden;
}

.artwork-form {
  padding: 5px 10px;
  background: rgb(240, 240, 240);
}

.artwork-form * {
  margin-top: 5px;
  margin-bottom: 5px;
}

.artwork-title {
  width: 100%;
}

.artwork-description {
  width: 100%; height: 200px;
  resize: vertical;
}

.artwork-tags {
  width: 100%;
}

.artwork-submit {
  display: block;
  margin: 0 0 0 auto;
  min-width: 150px;

  border-radius: 15px;
  background: rgb(1, 123, 34);
  color: white;

  text-align: center;
}

.artwork-submit:hover {
  background: rgb(21, 143, 54);
}

.artwork-submit:active {
  background: rgb(1, 113, 24);
}

.add-file {
  cursor: pointer;

  z-index: 0;
  position: absolute;
  top: -2px; left: -5px;

  margin: 0; padding: 0;
  width: 100%;

  font-size: 50px;
  line-height: 200px;

  opacity: 0;
  filter: alpha(opacity=0);
}

@media screen and (max-width: 600px) {
  .artwork-submit {
    min-width: 100%;
  }
}