.artwork-post-header {
  margin-bottom: 5px;
}

.artwork-post-header .artwork-post-header-details {
  margin-left: 5px;
}

.artwork-post-header .artwork-post-header-details > .artwork-post-artist {
  font-size: 0.8em;
}