/*
ArtXperience CSS Module
ArtworkPostDetails
*/
.artwork-post-details {
  align-self: normal;
  
  background: rgb(240, 240, 240);
  border: 1px solid rgb(230, 230, 230);
  
  transition: width ease-in-out 0s;
  -webkit-transition: width ease-in-out 0s;
  -moz-transition: width ease-in-out 0s;
  -ms-transition: width ease-in-out 0s;
  -o-transition: width ease-in-out 0s;
}

.artwork-post-details > *,
.artwork-post-details .artwork-post-entry {
  padding: 10px 15px;

  background: transparent;
}

.artwork-post-details > h2 {
  margin: 0;

  background: rgb(250, 250, 250);
  border-bottom: 1px solid rgb(230, 230, 230);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.0125);

  text-align: center;
  font-weight: 400;
}
