/*
ArtXperience CSS Module
ArtworkBlock
*/
.artwork-block {
  position: relative;

  display: inline-block;
  margin: 0;

  min-width: 100%; min-height: 100%;
  max-width: 100%; max-height: 100%;
  
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(40, 40, 40, 1.0);
  overflow: hidden;
}

.artwork-block.b-1 {
  grid-column-end: span 1;
  grid-row-end: span 1;
}

.artwork-block.b-2 {
  grid-column-end: span 2;
  grid-row-end: span 2;
}

.artwork-block.b-3 {
  grid-column-end: span 3;
  grid-row-end: span 3;
}

.artwork-details-overlay {
  opacity: 0;
  z-index: 2;
  position: absolute;
  bottom: 0; left: 0;
  padding: 7px 10px;
  overflow: hidden;

  width: 100%;
  height: 25%;

  /*background: linear-gradient(to top, rgba(0,0,0,0.125), rgba(0,0,0,0.6));*/
  border-top: 1px solid rgba(255, 255, 255, 0.3);

  /*font-weight: bold;*/
  text-shadow: 0 0 6px rgba(255, 255, 255, 0.2);
}

.artwork-details-overlay,
.artwork-details-overlay * {
  color: white;
  transition: all ease-in-out 0.2s;
}

.artwork-block:hover .artwork-details-overlay {
  opacity: 1;
}

.artwork-details-overlay .artwork-details-backdrop {
  z-index: -2;
  position: absolute;
  bottom: 0; left: 50%;
  width: 122%;
  transform: translateX(-50%);
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  filter: blur(0.7px);
}

.artwork-feed.b-1 .artwork-block > .artwork-details-overlay > .artwork-details-backdrop {
  min-height: 128px;
  max-height: 128px;
}

.artwork-feed.b-2 .artwork-block > .artwork-details-overlay > .artwork-details-backdrop {
  min-height: 256px;
  max-height: 256px;
}

.artwork-feed.b-3 .artwork-block > .artwork-details-overlay > .artwork-details-backdrop {
  min-height: 512px;
  max-height: 512px;
}

.artwork-details-overlay .artwork-details-background {
  z-index: -1;
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.125), rgba(0, 0, 0, 0.6));
  box-shadow: inset 0 -10px 30px rgba(0, 0, 0, 0.65);
}

.artwork-details-overlay .artwork-title,
.artwork-details-overlay .artwork-artist {
  text-overflow: ellipsis;
  overflow: hidden; 
  white-space: nowrap;
}

.artwork-details-overlay .artwork-title {
  font-size: 1.1em;
}

.artwork-details-overlay .artwork-artist {
  display: inline-block;
  width: fit-content;
  font-size: 1.0em;
  font-style: italic;
  color: rgba(240, 240, 240, 0.95);
}

.artwork-details-overlay .artwork-artist:hover {
  display: inline-block;
  width: fit-content;
  padding: 0 5px;

  background: rgba(20, 60, 150, 0.35);
  box-shadow: 0 0 4px rgba(255, 255, 255, 0.75);
  border-radius: 3px;
}

.artwork-thumb {
  z-index: 1;
  position: absolute;
  display: block;
  top: 50%; left: 50%;

  width: auto; height: 100%;

  transform: translate(-50%, -50%);
}

.artwork-thumb.error:before {
  content: "";
  z-index: 2;
  position: absolute;
  top: 50%; lefT: 50%;
  transform: translate(-50%, -50%);
  
  width: 100%; height: 100%;

  background: rgba(40, 40, 40, 1.0);
}

.artwork-thumb.error:after {
  content: "Artwork Not Found";
  z-index: 2;
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(245, 245, 245);
  font-size: 1vh;
}